@import '../../../app/Styles/Variables.scss';


.Filter {
    &__block {
        border-bottom: 1px dotted;
        h3 {
            margin-bottom: 15px;
            margin-top: 20px;
            cursor: pointer;
            font-size: 16px;
            line-height: 150%;
        }
    }
    &__text {
        margin-bottom: 10px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $grayText;
        }
    }
    &__delete{
        display: flex;
        align-items: center;
        button{
            height: 30px;
        }
    }

    &__active{
        color: $yellow;
    }
}
