@import '../../app/Styles/Variables.scss';


.CardLine {
    div {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__info {
        min-width: 450px;
        max-width: 450px;
        overflow: hidden;
        @media screen and (max-width: 1000px) {
            max-width: 100px !important;
            min-width: 100px !important;
            p {
                overflow-wrap: break-word;

                &:nth-child(1) {
                    font-weight: 400;
                    font-size: 12px;
                    margin-bottom: 9px;
                }
                &:nth-child(2) {
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                &:nth-child(3) {
                    color: $grayText;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
        @media screen and (min-width: 1000px) {
            p {
                &:nth-child(1) {
                    font-weight: 400;
                    font-size: 12px;
                    margin-bottom: 9px;
                }
                &:nth-child(2) {
                    font-weight: 700;
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                &:nth-child(3) {
                    color: $grayText;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }
    &__product {
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        border-bottom: 1px dotted rgb(67, 67, 67, 0.3);
        padding-bottom: 50px;
        padding-top: 50px;
        gap: 15px;
        a{
            display: flex;
            flex-wrap: wrap;
            gap: 15px
        }
    }
    &__img {
        width: 281px;
        height: 191px;
        margin-right: 20px;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__count {
        display: flex;
        align-items: center;
        gap: 21px;
        margin-left: 11%;
        flex-shrink: 2;

        button {
            width: 34px;
            height: 23px;
            background: linear-gradient(
                90deg,
                rgba(255, 198, 80, 0.3) 0%,
                rgba(254, 202, 110, 0.3) 97.25%
            );
            color: #3f4e65;
            border: none;
            border-radius: 1000px;
            outline: none;
        }
    }

    &__price {
        p {
            width: 100%;
        }
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 30px;
    }
    &__delete {
        display: flex;
        align-items: center;
        button {
            width: 59px;
            height: 59px;
        }
    }
}
